.simpleFireBugContents {
	position:fixed;
   	bottom:0px;
   	width:950px;
   	border:2px solid;
   	background-color:white;
}

.simpleFireBugContentsExpandedHeight {
	height:25%;
	min-height: 150px;
}

.simpleFireBugLaunchButton {
	margin-left: 50%;
}

.simpleFireBugCloseButton {
	float: right;
}

.simpleFirebugFullWidth {
	width: 100%;
}

.simpleFirebugFullHeight {
	height: 100%;
}

.simpleFirebugSplitWidth {
	width: 50%;
}

