.simpleFireBugContents {
	position:fixed;
   	bottom:0px;
   	width:950px;
   	border:2px solid;
   	background-color:white;
}

.simpleFireBugContentsExpandedHeight {
	height:25%;
	min-height: 150px;
}

.simpleFireBugLaunchButton {
	margin-left: 50%;
}

.simpleFireBugCloseButton {
	float: right;
}

.simpleFirebugFullWidth {
	width: 100%;
}

.simpleFirebugFullHeight {
	height: 100%;
}

.simpleFirebugSplitWidth {
	width: 50%;
}

.inputJS {
	font-weight: bold;
}

textArea.simpleFireBug{
   resize: none;
   border: none;
   overflow-y: scroll;
}

.hideRightBorder {
	border-right: 0px !important;
}

.hideLeftBorder {
	border-left: 0px !important;
}

table,th,td.simpleFireBug {
	border:1px solid black;
	border-collapse:collapse;
}