body { background-color: #fdf5e6; }
a:hover { color: red }
h2 {
	color: #440000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif
}
th.title   { background-color: #ef8429;
             font-size: 22px;
             font-family: Arial, Helvetica, sans-serif;
}
th { background-color: #ef8429;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
}
td { font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
}
legend {
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid #cccccc;
  padding: 4px 2px;
}
.autocomplete {
  position: absolute;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #666666;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.autocomplete ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}
.autocomplete li {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px solid #ffffff;
}
.autocomplete li.selected {
  background-color: #cceeff;
  border-top: 1px solid #99bbcc;
  border-bottom: 1px solid #99bbcc;
}
.boring {
  color: black;
  background-color: #fdf5e6;
  border: 0px solid cyan;
  font-family: serif;
  font-size: 18px;
}
.weird {
  color: yellow;
  background-color: red;
  border: 10px solid cyan;
  font-family: Arial, sans-serif;
  font-size: 100px;
}